extends layout

block variables
  - var title = "Loading Notecards"

block headeradds
  link(rel="stylesheet", href="/stylesheets/loading.css")

  script
    != 'var port = ' + port + ';'
    != 'var waittime = ' + waittime + ';'

  script.
    document.addEventListener("DOMContentLoaded",
        () => {
            var element = document.getElementById('waittime');
            element.textContent = waittime;
            var tick =
                () => {
                    if(waittime == 0) 
                      window.location.assign("http://notecards.online/notecards/xpra-client?port=" + port + "/");
                    else {
                        waittime--;
                        element.textContent = waittime;
                        setTimeout(tick, 1000);
                    }
                }
            setTimeout(tick, 1000);
        }
    );


block content
  h2.text-center Loading Notecards

  .row
      .jumbotron.text-center.
         Please wait.<br> 
         In <span class="waittime" id="waittime">30</span> seconds<br>
         you will be redirected automatically to Notecards.

  .row
      .jumbotron.text-center
        .dash-container
          .dash.uno
          .dash.dos
          .dash.tres
          .dash.cuatro
