block variables

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="/stylesheets/style.css")
    title #{title}
    block headeradds
  body
    div(id="page-container")
      div(id="content-wrap")
        .container
          block content
      footer(id="footer").
        Built with #[a(href="https://expressjs.com/") Express.js], login powered by #[a(href="https://developer.okta.com/") Okta].
