[Unit]
Description=Notecards Online Service (nodejs on port 80)
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/il/notecards/online/web-portal/prod
ExecStart=/usr/bin/npm start
Restart=always

[Install]
WantedBy=multi-user.target
